body h2,
h3 {
    text-align: center;
}


/* Bootstrap override */

.row {
    margin: 0;
}


/**********************/


/* Search input box */

.custom-search-input {
    padding: 3px;
    border: solid 1px #e4e4e4;
    border-radius: 6px;
    background-color: #fff;
    margin-left: 2%;
    width: 47%;
}

.custom-search-input input {
    border: 0;
    box-shadow: none;
}

.custom-search-input .glyphicon-search {
    font-size: 23px;
}

.custom-search-input .input-group-btn {
    border-left: solid 2px #bfbdbd;
}

.custom-search-input .input-group-btn button {
    background-color: #fff;
}

.search-box {
    margin: 0 0 10px;
}

.search-box h3 {
    margin-top: 5px;
}

.list-group-item {
    margin-top: 15px;
}


/*********************/


/* Tweets panel box*/

.left-box {
    display: inline-block;
    border: solid 1px #e4e4e4;
    width: 48%;
    margin: 0 2% 0 1%;
    height: 600px;
    overflow-y: scroll;
}

.right-box {
    display: inline-block;
    border: solid 1px #e4e4e4;
    width: 48%;
    height: 600px;
    overflow-y: scroll;
}

.clear-button {
    background-color: #fff;
    border: solid 1px #e4e4e4;
    margin-left: 50%;
}


/*********************/


/* Tweet element */

.user-account {
    color: #757575;
}

.user-profile {
    float: left;
    width: 19.333333%;
}

.user-profile img {
    border-radius: 50%;
    width: 97%;
}

.user-info {
    float: left;
    padding-left: 25px;
    width: 80.666667%;
}

.tweet-date {
    text-align: right;
}

.tweet-content {
    word-wrap: break-word;
}


/*********************/