body h1,
h2 {
    text-align: center;
}

.custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin-left: 3%;
    width: 45%;
}

.custom-search-input input {
    border: 0;
    box-shadow: none;
}

.custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.custom-search-input .glyphicon-search {
    font-size: 23px;
}

.left_box {
    display: inline-block;
    border: solid 1px #E4E4E4;
    width: 45%;
    margin: 0 4% 0 3%;
    height: 500px;
    overflow-y: scroll;
}

.right_box {
    display: inline-block;
    border: solid 1px #E4E4E4;
    width: 45%;
    height: 500px;
    overflow-y: scroll;
}

.search-box {
    margin-bottom: 10px;
    margin-left: 0;
}

.list-group-item {
    margin-top: 15px;
}

.userAccount {
    color: #757575;
}