<!doctype html>

<html ng-app="tweetSaverModule">

<head>
    <title>Tweet Saver</title>
    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./javascript/app.js"></script>
    <script type="text/javascript" src="./javascript/tweet-saver-contoller/tweets.controller.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="./css/app.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-controller="tweetsCtrl">
    <h2>Tweet Saver</h2>
    <hr>
    <div class="container-fluid search-box">
        <div class="row">
            <div class="col-xs-6 custom-search-input">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" ng-model="queryInput" placeholder="Search Twitter" />
                    <span class="input-group-btn">
                        <button class="btn btn-lg" type="button" ng-click="loadTweets()">Search</button>
                    </span>
                </div>
            </div>
            <div class="col-xs-6">
                <h3>Drag tweets to save
                    <span>
                        <button class="clear-button btn btn-lg" type="button" ng-click="clearSavedTweets()">Clear</button>
                    </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="left-box container-fluid">
            <ul class="list-group">
                <li id="{{tweet.id}}" class="list-group-item" ng-repeat="tweet in tweetsList" draggable="true" ondragstart="angular.element(this).scope().drag(event)">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="user-profile">
                                <img draggable="false" ng-src="{{tweet.user.biggerProfileImageURL}}">
                            </div>
                            <div class="user-info">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="user-name col-md-4 font-weight-bold">
                                            <p><strong>{{tweet.user.name}}</strong></p>
                                        </div>
                                        <div class="user-account col-md-4">
                                            <p>@{{tweet.user.screenName}}</p>
                                        </div>
                                        <div class="tweet-date col-md-4">
                                            <p>{{tweet.createdAt | date:'yyyy-MM-dd'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <p class="tweet-content">{{tweet.text}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="right-box container-fluid" ondrop="angular.element(this).scope().drop(event)" ondragover="angular.element(this).scope().allowDrop(event)">
            <ul class="list-group" ng-bind-html="savedTweets">
            </ul>
        </div>
    </div>
</body>

</html>