<li class="list-group-item">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-lg-4">
                <img style="width:50%" ng-src="https://avatars1.githubusercontent.com/u/20407922?s=460&v=4">
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 col-md-4 font-weight-bold">
                            <p><strong>{{model.userName}}</strong></p>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <p>{{model.userAccount}}</p>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <p>{{model.tweetDate}}</p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <p style="word-wrap: break-word">{{model.tweetContent}}</p>
                </div>
            </div>
        </div>
    </div>
</li>